@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.nav-link {
  color: #ececec;
}
.nav-link:hover {
  color: #fff;
}

/* btn */
.btn-purple {
  background-color: #896df6;
  color: #fff;
}
.btn-purple:hover {
  background-color: #7859f5;
  color: #fff;
}
.btn-purple-dark {
  background-color: #6e4cf5;
  color: #fff;
}
.btn-purple-dark:hover {
  background-color: #643dfc;
  color: #fff;
}

.btn-white {
  background-color: #fff;
  color: #896df6;
}

.btn-white:hover {
  background-color: #c4cdda;
  color: #896df6;
}

/* background */
.bg-purple {
  background-color: #896df6;
}
/* text-color */
.text-purple {
  color: #896df6;
}
.text-red {
  color: #e45252;
}
.text-slate-400 {
  color: #94a3b8;
}
.text-slate-500 {
  color: #475569;
}

.bg-image {
  padding: 5rem 1rem;
}
