body {
  background-color: #f4f9ff;
}

form {
  width: 100%;
}

.box-area {
  width: 930px;
}
.right-box {
  padding: 40px 30px 40px 40px;
}

.left-box {
  background: url("https://images.unsplash.com/photo-1612282130247-abb09429ccc1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1209&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -270px;
}

.caption {
  background-color: #00000053;
  width: 100%;
}

input[type="checkbox"] {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .left-box img {
    display: none;
  }
  .left-box {
    background: #896df6;
  }
}
